---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: multus-iot
spec:
  config: |-
    {
      "cniVersion": "1.1.0",
      "name": "multus-iot",
      "plugins": [
        {
          "type": "macvlan",
          "master": "eno1.4",
          "mode": "bridge",
          "ipam": {
            "type": "static",
            "routes": [
              { "dst": "0.0.0.0/0", "gw": "10.0.4.1" }
            ]
          }
        },
        {
          "type": "sbr"
        }
      ]
    }
