---
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: cephnodediskspacewarning-nfs
spec:
  matchers:
    - name: alertname
      value: CephNodeDiskspaceWarning
    - name: mountpoint
      value: /etc/nfsmount.conf
---
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: cephnodediskspacewarning-local
spec:
  matchers:
    - name: alertname
      value: CephNodeDiskspaceWarning
    - name: device
      value: /dev/sd.*
      matchType: "=~"
