---
apiVersion: monitoring.giantswarm.io/v1alpha1
kind: Silence
metadata:
  name: nodememoryhighutilization-nas
spec:
  matchers:
    - name: alertname
      value: NodeMemoryHighUtilization
      isRegex: false
    - name: instance
      value: truenas.homelab.internal:9100
      isRegex: false
