---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: autobrr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: autobrr-secret
    creationPolicy: Owner
  data:
    - secretKey: AUTOBRR__SESSION_SECRET
      remoteRef:
        key: autobrr
        property: session_secret
