---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/flux-alerts
resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./atuin/ks.yaml
  - ./n8n/ks.yaml
  - ./spoolman/ks.yaml
  - ./vikunja/ks.yaml

