---
machine:
  install:
    diskSelector:
      model: CT1000MX500SSD1
  type: controlplane
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kharkiv
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir-data
provisioning:
  diskSelector:
    match: disk.model == "KXG60ZNV512G KIOXIA"
  maxSize: 476GiB
