---
machine:
  install:
    diskSelector:
      model: CT1000MX500SSD1
  type: controlplane
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kharkiv