---
machine:
  install:
    diskSelector:
      model: CT1000MX500SSD1
  type: controlplane
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kyiv
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: csi-data
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 512GiB