---
machine:
  install:
    diskSelector:
      model: SHGS31-1000GS-2
  network:
    hostname: vinnytsia.homelab.internal
    interfaces:
      - interface: eno1
        dhcp: true
        mtu: 9000
        vlans:
          - # IOT
            vlanId: 4
            dhcp: false
            mtu: 1500
          - # VPN
            vlanId: 770
            dhcp: false
            mtu: 1500
        vip:
          ip: 10.2.0.20
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 512GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 256GiB
