---
machine:
  install:
    diskSelector:
      model: SHGS31-1000GS-2
  type: controlplane
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    storage.miroir.home-operations.com/class: default
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: vinnytsia
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir-data
provisioning:
  diskSelector:
    match: disk.model == "KXG60ZNV512G KIOXIA"
  maxSize: 476GiB
