---
machine:
  install:
    diskSelector:
      model: SHGS31-1000GS-2
  type: controlplane
  nodeLabels:
    node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: vinnytsia