---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://home-cluster/1password/OP_CREDENTIALS_JSON
  token: op://home-cluster/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: op://home-cluster/flux/SOPS_PRIVATE_KEY
